/* HomePage.module.css */

.homebg {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    height: 100vh; 
    width: auto;
    /* background-color: #F2D064; */
    /* background-image: url("/public/okk.png"); */
    background-image: url('/public/homebackgrounds.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.appBar {
    background-color: #FFFFFF;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* background-color: #FFFDD6; */
    height: 50vh;
    width: 750px;
    border-radius: 20px;
    margin-left: 55%;
    margin-top: 15%;
}

.homeacadzen {
    flex-grow: 1;
    font-weight: bold;
    color: #8C7111;
    font-size: 55px;
}

.hometoabout {
    background-color: #FFEAA0;
    background-size: cover;
    margin-top: 1450px;
    margin-left: 105px;
    height: 575px;
    width: 1700px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
}

.homeaboutbg{
    background-image: url('/public/bubbles.png');
    margin-top: 350px;
    /* margin-left: 6%; */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hideHometoabout {
    display: none;
}
/* Add other styles specific to HomePage.js below */

.AppInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    padding: 10px; /* Add padding for better spacing */
    margin-left: 250px;
    text-align: left;
  }
  
  .gridItem {
    padding: 10px;
    font-family: 'Inter';
    display:flex;
    flex-direction:column;
    align-self: flex-start;
  }
  .gridItem h2 {
      font-size: 30px;
      font-weight: bold;
  }

  .gridItem button {
    color: black;
    font-size: 25px;
    cursor: pointer;
    text-transform: none;
    align-self: flex-start;
  }
  
  .gridItem button:hover {
    color: #9b7f11; /* Change the background color as desired */
  }

  .footer {
    margin-top: 20px; /* Adjust margin-top as needed */
    text-align: center; /* Center-align the content within the footer */ 
    padding: 10px; /* Add padding for better spacing */

  }
